@import "../../01-settings/settings-colors.scss";
@import "../../01-settings/settings-box-shadows.scss";
@import "../../02-tools/tools-mixins.scss";

.trainers-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 255px;
  padding: 64px 0;
  background-color: $orange-600;
  text-align: center;

  .trainers-header-inner-container {
    max-width: 950px;
    margin: 0 auto;
  }

  .header-title {
    margin-top: 0;
    margin-bottom: 25px;
  }

  .header-description {
    margin-bottom: 0;
  }
}
