@import "../../01-settings/settings-colors.scss";
@import "../../01-settings/settings-box-shadows.scss";
@import "../../02-tools/mixins.scss";
@import "../../02-tools/tools-functions.scss";

$startElement: 1;
$middleElement: 4;
$finalElement: 16;
$selector: ".all-lecturers-list-item";
$breakpoint: "for-tablet-up";

.all-lecturers-container {
  margin: 64px auto 100px;

  @include for-tablet-up {
    margin: 100px auto 130px;
  }

  .all-lecturers-list {
    display: grid;
    grid-template-rows: repeat(4, 265px);
    justify-content: center;
    gap: 50px;

    @include toggleElementsResponsive($startElement, $middleElement, $finalElement, $selector, $breakpoint);

    @include for-phone-up {
      grid-template-rows: repeat(8, 265px);
      grid-template-columns: repeat(2, 240px);
      gap: 64px 32px;
    }

    @include for-desktop-up {
      grid-template-rows: repeat(6, 265px);
      grid-template-columns: repeat(3, 240px);
    }

    @include for-large-desktop-up {
      grid-template-rows: repeat(4, 265px);
      grid-template-columns: repeat(4, 240px);
    }
  }

  .lecturer-link {
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 25px;

    &:before,
    &:after {
      display: grid;
      justify-items: center;
      position: absolute;
      left: 12px;
      top: 8px;
      width: 172px;
      height: 172px;

      @include for-phone-up {
        left: 34px;
        top: 8px;
      }
    }

    &:before {
      content: "";
      align-items: center;
      opacity: 0;
      border-radius: 50%;
      color: $white;
      background: $orange-800;
      transition: 0.6s opacity ease-in;
    }

    &:after {
      content: "научи още";
      align-items: flex-end;
      font-size: 10px;
      line-height: 12px;
      font-weight: bold;
      text-transform: uppercase;
      color: transparent;
      padding-bottom: 40px;
      transition: 0.3s color ease-in;
    }

    &:hover {
      &:before,
      &:after {
        opacity: 0.8;
        color: $white;
      }

      .fa-info:before {
        color: $white;
      }
    }
  }

  .lecturer-image-container {
    max-width: 190px;
    justify-self: center;
  }

  .fa-info:before {
    display: grid;
    align-items: baseline;
    justify-items: center;
    position: absolute;
    left: 12px;
    top: 8px;
    width: 172px;
    height: 172px;
    font-size: 64px;
    padding-top: 40px;
    color: transparent;
    transition: 0.3s color ease-in;

    @include for-phone-up {
      left: 34px;
      top: 8px;
    }
  }

  .lecturer-image {
    width: 100%;
    border-radius: 50%;
    border: 8px solid $green-300;
    overflow: hidden;
  }

  .lecturer-name-and-occupation {
    text-align: center;
  }

  .lecturer-name {
    margin: 0 auto 10px;
    color: $green-300;
  }

  .lecturer-occupation {
    font-size: 14px;
    line-height: 16px;
    color: $grey-400;
  }
}
