@font-face {
    font-family: "Lato-Regular";
    src: url("../../assets/fonts/Lato2OFLWeb/Lato/fonts/Lato-Regular.woff2") format("woff2"),
        url("../../assets/fonts/Lato2OFLWeb/Lato/fonts/Lato-Regular.woff") format("woff"),
        url("../../assets/fonts/Lato2OFLWeb/Lato/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("../../assets/fonts/Montserrat/Montserrat-Regular/montserrat-400-normal.woff2") format("woff2"),
        url("../../assets/fonts/Montserrat/Montserrat-Regular/montserrat-400-normal.woff") format("woff"),
        url("../../assets/fonts/Montserrat/Montserrat-Regular/montserrat-400-normal.ttf") format("truetype");
}

html,
* {
    font-family: "Lato-Regular", sans-serif;
}

a,
button {
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
}

a {
    font-weight: 600;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

button {
    font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
