<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="../styles/01-settings/settings-typography.css">
  <link rel="stylesheet" href="../styles/03-generic/generic-normalize.css">
  <link rel="stylesheet" href="../styles/04-elements/elements-lists.css">
  <link rel="stylesheet" href="../styles/04-elements/elements-links.css">
  <link rel="stylesheet" href="../styles/04-elements/elements-input-fields.css">
  <link rel="stylesheet" href="../styles/05-objects/objects-containers.css">
  <link rel="stylesheet" href="../styles/06-components/common/components-button.css">
  <link rel="stylesheet" href="../styles/06-components/common/components-header.css">
  <link rel="stylesheet" href="../styles/06-components/common/components-footer.css">
  <link rel="stylesheet" href="../styles/06-components/common/components-navigation.css">
  <link rel="stylesheet" href="../styles/06-components/contacts/contacts-header.css">
  <link rel="stylesheet" href="../styles/06-components/contacts/contacts-form.css">
  <link rel="stylesheet" href="../styles/06-components/contacts/contacts-transport-section.css">
  <link rel="stylesheet" href="../styles/07-utilities/utilities-centered.css">
  <title>Contact us - SoftUni Kids</title>
</head>

<body>
  <nav class="navigation-wrapper">
    <div class="navigation container">
      <a class="navigation-logo" href="#">
        <i class="fas fa-caret-right"></i>
      </a>
      <ul class="navigation-list">
        <li class="navigation-list-item">
          <a href="../views/courses.html">обучения</a>
        </li>
        <li class="navigation-list-item">
          <a href="#">Събития</a>
        </li>
        <li class="navigation-list-item">
          <a href="../views/trainers.html">Преподаватели</a>
        </li>
        <li class="navigation-list-item">
          <a href="#">Блог</a>
        </li>
        <li class="navigation-list-item">
          <a href="../views/contacts.html">Контакти</a>
        </li>
        <li class="navigation-list-item search-icon">
          <img src="../assets/icons/search.png" alt="Search">
        </li>
        <li class="navigation-list-item login-btn-wrapper">
          <button class="btn btn-primary btn-login">
            вход
          </button>
        </li>
        <li class="navigation-list-item mobile-nav">
          <i class="fas fa-bars"></i>
        </li>
      </ul>
    </div>
  </nav>

  <header class="header contacts-header">
    <div class="header-map-container"></div>
    <section class="header-text-container header-text-and-button-container">
      <div class="header-text">
        <h3 class="header-text-title">Адрес:</h3>
        <p class="header-text-description">
          София, кв. Изгрев, ул. "Тинтява" 15-17, етаж 1,
          ПК: 1113
        </p>
      </div>

      <div class="header-text">
        <h3 class="header-text-title">Работно време:</h3>
        <div class="header-working-time-container">
          <p class="header-working-hours">9:00 - 19:30</p>
          <p class="header-working-days">Понеделник - Петък</p>
          <p class="header-working-hours">8:30 - 18:00</p>
          <p class="header-working-days">Събота и Неделя</p>
        </div>
      </div>

      <div class="header-text">
        <h3 class="header-text-title">Контакти:</h3>
        <p class="header-text-description">+ 359 892 241 199</p>
        <p class="header-text-description">digital@softuni.bg</p>
      </div>

      <button class="btn btn-secondary find-us-btn">намери ни на картата</button>
    </section>
  </header>

  <main>
    <section class="contact-us-form-container container">
      <h3 class="contact-us-form-title">Пишете ни</h3>
      <form action="#" class="contact-us-form">
        <input class="contact-us-input-field" type="text" placeholder="Заглавие">
        <input class="contact-us-input-field" type="text" placeholder="Имейл адрес">
        <textarea class="contact-us-textarea" type="text" placeholder="Съобщение"></textarea>
        <button class="btn btn-primary contact-us-btn" type="submit">
          изпрати
        </button>
      </form>
    </section>

    <section class="transport-to-softuni-container">
      <article class="transport-to-softuni container">
        <h2 class="transport-to-softuni-title">Как да стигна до SoftUni?</h2>

        <article class="transport-to-softuni-type">
          <h3 class="transport-to-softuni-type-title">Метро</h3>
          <ul class="transport-to-softuni-type-list">
            <li class="transport-to-softuni-type-list-item">
              Метростанция <strong>Жолио Кюри</strong> - на 5-10 минути от
              СофтУни</li>
            <li class="transport-to-softuni-type-list-item">
              Метростанция <strong>Г. М. Димитров</strong> - на 5-10
              минути
              от СофтУни</li>
          </ul>
        </article>

        <article class="transport-to-softuni-type">
          <h3 class="transport-to-softuni-type-title">Автобуси</h3>
          <ul class="transport-to-softuni-type-list">
            <li class="transport-to-softuni-type-list-item">
              <strong>67, 413</strong> - Спирка “СТЦ Интерпред” (1112) или спирка “ж.к. Дианабад” (0627) (на бул. Драган
              Цанков)
            </li>
            <li class="transport-to-softuni-type-list-item">
              <strong>88, 94, 102</strong> - Спирка “ПК Диана” (1342) (на 10-ина минути от СофтУни)
            </li>
            <li class="transport-to-softuni-type-list-item">
              <strong>88, 280, 294</strong> - Спирка “СБАЛ по онкология” (0764) (на кръстовището на бул. Г. М. Димитров
              и бул. Драган Цанков)
            </li>
            <li class="transport-to-softuni-type-list-item">
              <strong>123, 69, 70, 88, 67, 413</strong> - Спирка “СБАЛ по онкология” (2542) (на кръстовището на бул. Г.
              М. Димитров и бул. Драган Цанков)
            </li>
          </ul>
        </article>

        <article class="transport-to-softuni-type">
          <h3 class="transport-to-softuni-type-title">Маршрутки</h3>
          <ul class="transport-to-softuni-type-list">
            <li class="transport-to-softuni-type-list-item">
              <strong>5</strong> - минава през метростанцията на бул Г. М. Димитров
            </li>
            <li class="transport-to-softuni-type-list-item">
              <strong>27</strong> - минава през метростанцията на бул Г. М. Димитров
            </li>
          </ul>
        </article>
      </article>
    </section>
  </main>

  <footer class="footer">
    <section class="footer-image-and-list-container container">
      <div class="footer-image-container">
        <img class="footer-image" src="../assets/icons/footer-icon.svg" alt="">
      </div>
      <ul class="footer-list">
        <li class="footer-list-item kids">
          <header class="footer-list-item-title">Softuni Kids</header>
          <article class="footer-inner-list-container">
            <ul class="footer-inner-list">
              <li class="footer-inner-list-item">
                <a href="#">Начало</a>
              </li>
              <li class="footer-inner-list-item">
                <a href="#">Летни академии</a>
              </li>
              <li class="footer-inner-list-item">
                <a href="../views/trainers.html">Преподаватели</a>
              </li>
              <li class="footer-inner-list-item">
                <a href="#">Блог</a>
              </li>
              <li class="footer-inner-list-item">
                <a href="../views/contacts.html">Контакти</a>
              </li>
            </ul>
            <ul class="footer-inner-list">
              <li class="footer-inner-list-item">
                <a href="#">Общи условия</a>
              </li>
              <li class="footer-inner-list-item">
                <a href="#">Лични данни</a>
              </li>
            </ul>
          </article>
        </li>
        <li class="footer-list-item all-educations">
          <header class="footer-list-item-title">Всички обучения</header>
          <ul class="footer-inner-list">
            <li class="footer-inner-list-item">
              <a href="../views/courses.html">Курсове</a>
            </li>
            <li class="footer-inner-list-item">
              <a href="#">Събития</a>
            </li>
          </ul>
        </li>
        <li class="footer-list-item all-initiatives">
          <header class="footer-list-item-title">Всички инициативи</header>
          <ul class="footer-inner-list">
            <li class="footer-inner-list-item">
              <a href="#">Software University</a>
            </li>
            <li class="footer-inner-list-item">
              <a href="#">SoftUni Digital</a>
            </li>
            <li class="footer-inner-list-item">
              <a href="#">SoftUni Creative</a>
            </li>
            <li class="footer-inner-list-item">
              <a href="#">SoftUni Svetlina</a>
            </li>
            <li class="footer-inner-list-item">
              <a href="#">SoftUni Foundation</a>
            </li>
          </ul>
        </li>
        <li class="footer-list-item find-us">
          <header class="footer-list-item-title">Намери ни</header>
          <ul class="footer-inner-list social-media-list">
            <li class="footer-inner-list-item">
              <a href="#">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="footer-inner-list-item">
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
          <p class="all-rights-reserved">
            © 2016-2020 - SoftUni Kids. All Rights Reserved.
          </p>
        </li>
      </ul>
    </section>
  </footer>
</body>

</html>