<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="../styles/01-settings/settings-typography.css">
  <link rel="stylesheet" href="../styles/03-generic/generic-normalize.css">
  <link rel="stylesheet" href="../styles/04-elements/elements-lists.css">
  <link rel="stylesheet" href="../styles/04-elements/elements-links.css">
  <link rel="stylesheet" href="../styles/04-elements/elements-input-fields.css">
  <link rel="stylesheet" href="../styles/05-objects/objects-containers.css">
  <link rel="stylesheet" href="../styles/06-components/common/components-button.css">
  <link rel="stylesheet" href="../styles/06-components/common/components-header.css">
  <link rel="stylesheet" href="../styles/06-components/common/components-footer.css">
  <link rel="stylesheet" href="../styles/06-components/common/components-navigation.css">
  <link rel="stylesheet" href="../styles/07-utilities/utilities-centered.css">
  <title>Contact us - SoftUni Kids</title>
</head>

<body>
  <nav class="navigation-wrapper">
    <div class="navigation container">
      <article class="navigation-logo">
        <img src="../assets/images/logo.png" alt="Logo">
      </article>

      <ul class="navigation-list">
        <li class="navigation-list-item">
          <a href="#">обучения</a>
        </li>
        <li class="navigation-list-item">
          <a href="#">Събития</a>
        </li>
        <li class="navigation-list-item">
          <a href="#">Преподаватели</a>
        </li>
        <li class="navigation-list-item">
          <a href="#">Блог</a>
        </li>
        <li class="navigation-list-item">
          <a href="#">Контакти</a>
        </li>
        <li class="navigation-list-item search-icon">
          <img src="../assets/icons/search.png" alt="Search">
        </li>
        <li class="navigation-list-item login-btn-wrapper">
          <button class="btn btn-secondary btn-login">
            вход
          </button>
        </li>
      </ul>
    </div>

  </nav>

  <header class="header header-info">
    <div class="header-map-container">
      <img src="../assets/images/map.png" alt="map">
    </div>

    <section class="header-text-and-button-container">
      <article class="header-text-container">
        <div class="header-text">
          <h3 class="header-text-title">Адрес:</h3>
          <p class="header-text-description">
            София, кв. Изгрев, ул. "Тинтява" 15-17, етаж 1,
            ПК: 1113
          </p>
        </div>

        <div class="header-text">
          <h3 class="header-text-title">Работно време:</h3>
          <div class="header-working-time-container">
            <p class="header-working-hours">9:00 - 19:30</p>
            <p class="header-working-days">Понеделник - Петък</p>
            <p class="header-working-hours">8:30 - 18:00</p>
            <p class="header-working-days">Събота и Неделя</p>
          </div>
        </div>

        <div class="header-text">
          <h3 class="header-text-title">Контакти:</h3>
          <p class="header-text-description">+ 359 892 241 199</p>
          <p class="header-text-description">digital@softuni.bg</p>
        </div>
      </article>
      <button class="btn primary-btn find-us"></button>
    </section>
  </header>

  <main>
    <section class="contact-us-form-container">
      <form action="#" class="contact-us-form">
        <input type="text" placeholder="Заглавие">
        <input type="text" placeholder="Имейл адрес">
        <input type="text" placeholder="Съобщение">
        <button class="btn btn-secondary" type="submit">
          изпрати
        </button>
      </form>
    </section>
  </main>

  <footer class="footer">
    <section class="footer-image-and-list-container container">
      <div class="footer-image-container">
        <img class="footer-image" src="../assets/icons/footer-icon.svg" alt="">
      </div>
      <ul class="footer-list">
        <li class="footer-list-item kids">
          <header class="footer-list-item-title">Softuni Kids</header>
          <article class="footer-inner-list-container">
            <ul class="footer-inner-list">
              <li class="footer-inner-list-item">
                <a href="#">Начало</a>
              </li>
              <li class="footer-inner-list-item">
                <a href="#">Летни академии</a>
              </li>
              <li class="footer-inner-list-item">
                <a href="#">Преподаватели</a>
              </li>
              <li class="footer-inner-list-item">
                <a href="#">Блог</a>
              </li>
              <li class="footer-inner-list-item">
                <a href="#">Контакти</a>
              </li>
            </ul>
            <ul class="footer-inner-list">
              <li class="footer-inner-list-item">
                <a href="#">Общи условия</a>
              </li>
              <li class="footer-inner-list-item">
                <a href="#">Лични данни</a>
              </li>
            </ul>
          </article>
        </li>
        <li class="footer-list-item all-educations">
          <header class="footer-list-item-title">Всички обучения</header>
          <ul class="footer-inner-list">
            <li class="footer-inner-list-item">
              <a href="#">Курсове</a>
            </li>
            <li class="footer-inner-list-item">
              <a href="#">Събития</a>
            </li>
          </ul>
        </li>
        <li class="footer-list-item all-initiatives">
          <header class="footer-list-item-title">Всички инициативи</header>
          <ul class="footer-inner-list">
            <li class="footer-inner-list-item">
              <a href="#">Software University</a>
            </li>
            <li class="footer-inner-list-item">
              <a href="#">SoftUni Digital</a>
            </li>
            <li class="footer-inner-list-item">
              <a href="#">SoftUni Creative</a>
            </li>
            <li class="footer-inner-list-item">
              <a href="#">SoftUni Svetlina</a>
            </li>
            <li class="footer-inner-list-item">
              <a href="#">SoftUni Foundation</a>
            </li>
          </ul>
        </li>
        <li class="footer-list-item find-us">
          <header class="footer-list-item-title">Намери ни</header>
          <ul class="footer-inner-list social-media-list">
            <li class="footer-inner-list-item">
              <a href="#">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="footer-inner-list-item">
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
          <p class="all-rights-reserved">
            © 2016-2020 - SoftUni Kids. All Rights Reserved.
          </p>
        </li>
      </ul>
    </section>
  </footer>
</body>

</html>