<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="../styles/01-settings/settings-typography.css">
  <link rel="stylesheet" href="../styles/03-generic/generic-normalize.css">
  <link rel="stylesheet" href="../styles/04-elements/elements-lists.css">
  <link rel="stylesheet" href="../styles/04-elements/elements-links.css">
  <link rel="stylesheet" href="../styles/04-elements/elements-input-fields.css">
  <link rel="stylesheet" href="../styles/05-objects/objects-containers.css">
  <link rel="stylesheet" href="../styles/06-components/common/components-button.css">
  <link rel="stylesheet" href="../styles/06-components/common/components-header.css">
  <link rel="stylesheet" href="../styles/06-components/common/components-footer.css">
  <link rel="stylesheet" href="../styles/06-components/common/components-navigation.css">
  <link rel="stylesheet" href="../styles/06-components/courses/courses-header.css">
  <link rel="stylesheet" href="../styles/06-components/courses/courses-details.css">
  <link rel="stylesheet" href="../styles/06-components/courses/course-suitable-and-skills.css">
  <link rel="stylesheet" href="../styles/06-components/courses/courses-educational-program.css">
  <link rel="stylesheet" href="../styles/06-components/courses/courses-certificate.css">
  <link rel="stylesheet" href="../styles/06-components/courses/courses-lectures-and-more-info.css">
  <link rel="stylesheet" href="../styles/07-utilities/utilities-centered.css">
  <title>Courses - SoftUni Kids</title>
</head>

<body>
  <nav class="navigation-wrapper">
    <div class="navigation container">
      <a class="navigation-logo" href="#">
        <i class="fas fa-caret-right"></i>
      </a>

      <ul class="navigation-list">
        <li class="navigation-list-item">
          <a href="../views/courses.html">обучения</a>
        </li>
        <li class="navigation-list-item">
          <a href="#">Събития</a>
        </li>
        <li class="navigation-list-item">
          <a href="../views/trainers.html">Преподаватели</a>
        </li>
        <li class="navigation-list-item">
          <a href="#">Блог</a>
        </li>
        <li class="navigation-list-item">
          <a href="../views/contacts.html">Контакти</a>
        </li>
        <li class="navigation-list-item search-icon">
          <img src="../assets/icons/search.png" alt="Search">
        </li>
        <li class="navigation-list-item login-btn-wrapper">
          <button class="btn btn-primary btn-login">
            вход
          </button>
        </li>
      </ul>
    </div>

  </nav>

  <header class="header course-header">
    <div class="course-level">Начинаещ</div>
    <h1 class="header-title">Първи стъпки в програмирането - част 2</h1>

    <section class="course-intro-container container">
      <article class="course-intro-button-container">
        <button class="btn btn-primary">записване</button>

      <article class="course-intro-dots-container">
        <span class="course-intro-dot"></span>
        <span class="course-intro-dot"></span>
        <span class="course-intro-dot"></span>
        <span class="course-intro-dot">
          <span class="course-intro-half-dot-blue"></span>
          <span class="course-intro-half-dot-white"></span>
        </span>
        <span class="course-intro-dot"></span>
        <span class="course-intro-dot"></span>
        <span class="course-intro-dot"></span>
        <span class="course-intro-dot"></span>
        <span class="course-intro-dot"></span>
        <span class="course-intro-dot"></span>
        <span class="course-intro-dot"></span>
        <span class="course-intro-dot"></span>
        <span class="course-intro-dot"></span>
        <span class="course-intro-dot"></span>
        <span class="course-intro-dot"></span>
        <span class="course-intro-dot"></span>
        <span class="course-intro-dot"></span>
        <span class="course-intro-dot"></span>
      </article>

      <ul class="course-intro-list">
        <li class="course-intro-list-item">
          <div class="course-intro-image-container">
            <img class="course-intro-image" src="../assets/icons/money.svg" alt="fee">
          </div>
          <div class="course-intro-string">цена</div>
          <div class="course-intro-details">500 лв.</div>
        </li>
        <li class="course-intro-list-item">
          <div class="course-intro-image-container">
            <img class="course-intro-image" src="../assets/icons/people.svg" alt="fee">
          </div>
          <div class="course-intro-string">подходящ за</div>
          <div class="course-intro-details">1-6 клас</div>
        </li>
        <li class="course-intro-list-item">
          <div class="course-intro-image-container">
            <img class="course-intro-image" src="../assets/icons/calendar.svg" alt="fee">
          </div>
          <div class="course-intro-string">начало</div>
          <div class="course-intro-details">16 май 2020</div>
        </li>
        <li class="course-intro-list-item">
          <div class="course-intro-image-container">
            <img class="course-intro-image" src="../assets/icons/location.svg" alt="fee">
          </div>
          <div class="course-intro-string">локация</div>
          <div class="course-intro-details">гр. София</div>
        </li>

      </ul>
    </section>
  </header>

  <main>
    <section class="course-details-container container">
      <article class="course-details-text-container">
        <p class="course-details-text">
          Това е втора част към онлайн обучението „Първи стъпки в програмирането”, който е първият и основополагащ
          онлайн модул по време на обучението по програмиране на SoftUni Kids. Той е насочен към изграждане на основни
          компетенции и умения, необходими на децата, за да продължат обучението си в следващи модули от програмата ни
          за малки програмисти. Първо ниво в направление софтуерни курсове се смята за преминато, след завършване и на
          двете части от курса и получен сертификат.
        </p>
        <p class="course-details-text">
          По време на курса "Първи стъпки в програмирането - част 2", децата получават знания за видовете цикъл,
          събития, а също така се учат на активно общуване в група и работа в екип – принципи, които са заложени в
          цялостната програма на обучението по програмиране на SoftUni Kids.
        </p>
        <p class="course-details-text">
          Курсът завършва със създаване на сценарии, които са измислени, съставени и програмирани от децата. В последния
          ден на занятията родителите са добре дошли в последния половин час, за да видят и презентацията на създадената
          от децата им програма! След завършване на втората част от курса, децата получават и своите сертификати за
          успешно преминато първо ниво „Първи стъпки в програмирането“.
        </p>
      </article>
      <article class="course-details-video-container">
        <img class="course-details-video-cover-image" src="../assets/images/course-details-video-cover-image.png"
          alt="course-details-video-cover-image">
      </article>
    </section>

    <section class="course-suitable-and-skills-container container">
      <article class="course-suitable">
        <h2 class="course-suitable-title">
          За кого е подходящ?
        </h2>
        <p class="course-suitable-description">
          Онлайн курсът е подходящ за <strong>напълно начинаещи</strong>: необходимо е децата да могат да четат и пишат
          и да имат достъп
          до компютър с интернет връзка.
        </p>
      </article>

      <article class="course-skills">
        <h2 class="course-skills-title">Важно!</h2>
        <p class="course-skills-description">
          При записване на второ дете (братче/сестриче) получавате <strong>20% отстъпка</strong> от таксата за второто
          дете.
        </p>
        <p class="course-skills-description">
          Занятията стартират при сформиране на група.
        </p>
      </article>
    </section>

    <section class="educational-program-container">
      <article class="educational-program-text-and-image-container container">
        <section class="educational-program-text-container">
          <h2 class="educational-program-text-title">
            Програма на обучението
          </h2>
          <p class="educational-program-text-description">
            През цялото време на курса ще имаме постоянна двустранна комуникация с децата. Ще имат възможност да ни
            задават въпроси и да общуват помежду си (най-вече в почивките и след занятия). Ще се забавляваме докато учим
            как да прогамираме.
          </p>
          <p class="educational-program-text-lectures-string">
            занятия
          </p>
          <article class="educational-program-lecture-text-container">
            <span class="educational-program-lecture-number">1.</span>
            <span class="educational-program-lecture-name">Цикли и безкрайни цикли</span>
            <i class="fas fa-chevron-down"></i>
          </article>
          <article class="educational-program-lecture-text-container">
            <span class="educational-program-lecture-number">2.</span>
            <span class="educational-program-lecture-name">
              Събития
            </span>
            <i class="fas fa-chevron-down"></i>
          </article>
          <article class="educational-program-lecture-text-container">
            <span class="educational-program-lecture-number">3.</span>
            <span class="educational-program-lecture-name">
              Презентационни умения. Създаване на цялостен сценарий в Scratch.
            </span>
            <i class="fas fa-chevron-down"></i>
          </article>
          <article class="educational-program-lecture-text-container">
            <span class="educational-program-lecture-number">4.</span>
            <span class="educational-program-lecture-name">
              Работа по финален проект и презентирането му.
            </span>
            <i class="fas fa-chevron-down"></i>
          </article>
        </section>

        <section class="educational-program-image-container">
          <img class="educational-program-image" src="../assets/images/educational-program.svg"
            alt="educational-program">
        </section>
      </article>
    </section>

    <section class="certificate-container container">
      <article class="certificate-text-container">
        <h2 class="certificate-text-title">
          Сертификат
        </h2>
        <p class="certificate-text-description">
          Да се опише максимално подробно <strong>кога</strong> и <strong>къде</strong> се провеждат занятията. За
          примера съм изпозлвал описание от
          онлайн курс
        </p>
      </article>
      <article class="certificate-image-container">
        <div class="certificate-image-text">
          Снимка на сертификата
        </div>
      </article>
    </section>

    <section class="lectures-and-more-info-container container">
      <article class="lectures">
        <h2 class="lectures-title">
          Кога и къде се провеждат занятията?
        </h2>
        <p class="lectures-description">
          Да се опише максимално подробно <strong>кога</strong> и <strong>къде</strong> се провеждат занятията. За
          примера съм изпозлвал описание от
          онлайн курс.
        </p>
        <p class="lectures-description">
          Курсът е в <strong>ОНЛАЙН ФОРМАТ</strong>. Обучението се провежда в рамките на <strong>2 астрономически
            часa</strong>, веднъж седмично в
          продължение на <strong>4 седмици</strong>.
        </p>
        <p class="lectures-description">
          Денят и часа зависят от групата, в която запишете детето си. Занятията ще се проведат в онлайн платформа, за
          която ще получите линк преди занятието, с който да достъпите виртуалната ни класна стая.
        </p>
        <p class="lectures-description">
          <strong>Крайният срок за записване е 05/06/2020, 23:59 часа включително.</strong>
        </p>
      </article>

      <article class="more-info">
        <h2 class="more-info-title">
          Допълнителна информация
        </h2>
        <p class="more-info-description">
          В деня на първото занятие на вашето дете ще имаме нужда от
          <strong>два подписани и попълнени екземпляра на договор</strong>
          за обучение в SoftUni Kids. Ще получите договора на имейл адреса ви, след заплащането на обучението. Може да
          го разгледате от <a href="#">тук</a>.
        </p>
        <p class="more-info-description">
          За успешното провеждане на занятията трябва да осигурите на детето си
          <strong>компютър, интернет връзка и спокойна среда за работа.</strong>
          За по-лесна комуникация ще получите достъп до група в социалните мрежи, където преподавателите ще помагат на
          децата при затруднения в достъпа до виртуалната ни класна стая.
        </p>
        <p class="more-info-description">
          Почивен ден за групите - няма.
        </p>
        <p class="more-info-description">
          <strong>Запазването на място става единствено след успешно заплащане.</strong>
        </p>
      </article>
    </section>
  </main>

  <footer class="footer">
    <section class="footer-image-and-list-container container">
      <div class="footer-image-container">
        <img class="footer-image" src="../assets/icons/footer-icon.svg" alt="">
      </div>
      <ul class="footer-list">
        <li class="footer-list-item kids">
          <header class="footer-list-item-title">Softuni Kids</header>
          <article class="footer-inner-list-container">
            <ul class="footer-inner-list">
              <li class="footer-inner-list-item">
                <a href="#">Начало</a>
              </li>
              <li class="footer-inner-list-item">
                <a href="#">Летни академии</a>
              </li>
              <li class="footer-inner-list-item">
                <a href="../views/trainers.html">Преподаватели</a>
              </li>
              <li class="footer-inner-list-item">
                <a href="#">Блог</a>
              </li>
              <li class="footer-inner-list-item">
                <a href="../views/contacts.html">Контакти</a>
              </li>
            </ul>
            <ul class="footer-inner-list">
              <li class="footer-inner-list-item">
                <a href="#">Общи условия</a>
              </li>
              <li class="footer-inner-list-item">
                <a href="#">Лични данни</a>
              </li>
            </ul>
          </article>
        </li>
        <li class="footer-list-item all-educations">
          <header class="footer-list-item-title">Всички обучения</header>
          <ul class="footer-inner-list">
            <li class="footer-inner-list-item">
              <a href="../views/courses.html">Курсове</a>
            </li>
            <li class="footer-inner-list-item">
              <a href="#">Събития</a>
            </li>
          </ul>
        </li>
        <li class="footer-list-item all-initiatives">
          <header class="footer-list-item-title">Всички инициативи</header>
          <ul class="footer-inner-list">
            <li class="footer-inner-list-item">
              <a href="#">Software University</a>
            </li>
            <li class="footer-inner-list-item">
              <a href="#">SoftUni Digital</a>
            </li>
            <li class="footer-inner-list-item">
              <a href="#">SoftUni Creative</a>
            </li>
            <li class="footer-inner-list-item">
              <a href="#">SoftUni Svetlina</a>
            </li>
            <li class="footer-inner-list-item">
              <a href="#">SoftUni Foundation</a>
            </li>
          </ul>
        </li>
        <li class="footer-list-item find-us">
          <header class="footer-list-item-title">Намери ни</header>
          <ul class="footer-inner-list social-media-list">
            <li class="footer-inner-list-item">
              <a href="#">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="footer-inner-list-item">
              <a href="#">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
          </ul>
          <p class="all-rights-reserved">
            © 2016-2020 - SoftUni Kids. All Rights Reserved.
          </p>
        </li>
      </ul>
    </section>
  </footer>
</body>

</html>