@import "../../01-settings/settings-colors.scss";
@import "../../01-settings/settings-box-shadows.scss";
@import "../../02-tools/mixins.scss";

.course-details-container {
  display: grid;
  grid-template-rows: 1fr 250px;
  gap: 30px;
  margin: 150px auto 65px;

  @include for-desktop-up {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 440px;
    gap: 110px;
    margin: 150px auto 100px;
  }

  .course-details-text-container {
    color: $grey-700;
  }

  .course-details-text {
  }

  .course-details-video-container {
    position: relative;
    justify-self: center;
    max-width: 440px;
    height: 250px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      width: 64px;
      height: 64px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: url("../../../assets/icons/play-button.svg");
    }
  }

  .course-details-video-cover-image {
    max-width: 100%;
    box-shadow: $shadow-1;
  }

  .course-details-video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0;
  }
}
