@import "../../01-settings/settings-colors.scss";
@import "../../01-settings/settings-box-shadows.scss";
@import "../../02-tools/mixins.scss";
@import "../../02-tools/tools-functions.scss";

$course-intro-dots: 30;
$selector: ".course-intro-dot";

.course-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  text-align: center;
  background-color: $blue-400;

  margin-bottom: 620px;

  @include for-tablet-up {
    margin-bottom: 330px;
  }

  @include for-large-desktop-up {
    margin-bottom: 0;
  }

  .course-level {
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    padding: 5px 10px;
    background: $orange-500;
    border-radius: 4px;
    box-shadow: $shadow-1;

    @include for-large-desktop-up {
      margin-top: 64px;
    }
  }

  .header-title {
    width: 90%;

    @include for-phone-up {
      max-width: 640px;
    }

    @include for-large-desktop-up {
      margin-bottom: -15px;
    }
  }

  .course-intro-main-container {
    margin: 0 auto;
  }

  .course-intro-inner-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 24px;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 20px;
    min-height: 112px;
    max-width: 1290px;
    background: $white;
    border-radius: 12px;
    box-shadow: $shadow-1;
    clip-path: inset(0% -0.2% -2% -0.2%);

    @include for-tablet-up {
      bottom: -230px;
      width: 89%;
      margin: 0 auto;
    }

    @include for-desktop-up {
      width: 90%;
    }

    @include for-large-desktop-up {
      grid-template-rows: 50px;
      grid-template-columns: 160px 1fr;
      gap: 135px;
      position: relative;
      bottom: -70px;
      left: unset;
      margin: 0 auto;
      padding: 32px 90px 32px 64px;
      width: 100%;
    }
  }

  .course-intro-dots-container {
    display: flex;
    justify-content: space-between;
    max-height: 25px;
    margin-left: -10px;
    margin-right: -10px;
    overflow: hidden;

    @include styleDots($course-intro-dots, $selector);

    @include for-large-desktop-up {
      display: flex;
      flex-direction: column;
      justify-content: initial;
      max-height: unset;
      margin: 0;
      position: absolute;
      left: 285px;
    }

    .course-intro-dot {
      display: inline-block;
      width: 12px;
      height: 12px;
      margin: 3.5px;
      border-radius: 50%;
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2), inset 0px 2px 2px rgba(0, 0, 0, 0.12),
        inset 0px 0px 2px rgba(0, 0, 0, 0.14);
      background: $white;
    }
  }

  .course-intro-button-container,
  .course-intro-list {
    z-index: 1;
  }

  .course-intro-button-container {
    padding: 46px 24px 24px;

    @include for-large-desktop-up {
      padding: 0;
    }
  }

  .course-intro-button {
    width: 100%;
    margin: 0;

    @include for-large-desktop-up {
      width: auto;
    }
  }

  .course-intro-list {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-content: left;
    align-items: center;
    gap: 50px;
    padding: 24px;

    @include for-tablet-up {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      justify-content: stretch;
      gap: 40px;
    }

    @include for-desktop-up {
      gap: 50px;
    }

    @include for-large-desktop-up {
      padding: 0;
    }
  }

  .course-intro-list-item {
    display: grid;
    align-items: center;
    grid-template-rows: repeat(2, 25px);
    grid-template-columns: 32px 2fr;
    justify-items: left;
    gap: 6px 24px;

    &:first-child {
      &:after {
        @include for-large-desktop-up {
          right: 0;
        }
      }
    }

    &:not(:last-child) {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        width: 2px;
        height: 25px;
        bottom: -30px;
        left: 12px;
        transform: rotate(90deg);
        background: $grey-100;

        @include for-tablet-up {
          right: -25px;
          bottom: unset;
          transform: unset;
          left: unset;
        }
      }
    }
  }

  .course-intro-image-container {
    grid-row: 1 / span 2;
  }

  .course-intro-image {
  }

  .course-intro-string,
  .course-intro-details {
    font-weight: bold;
  }

  .course-intro-string {
    font-size: 18px;
    line-height: 22px;
    color: $grey-700;
  }
  .course-intro-details {
    font-size: 20px;
    line-height: 24px;
    color: $orange-700;
  }
}
