@import "../../01-settings/settings-colors.scss";
@import "../../01-settings/settings-box-shadows.scss";
@import "../../02-tools/mixins.scss";
@import "../../04-elements/elements-pseudo-elements.scss";
@import "../../07-utilities/utilities-centered.scss";

.educational-program-container {
  min-height: 560px;
  padding: 65px 0;
  margin-bottom: 64px;
  background: no-repeat url("../../../assets/images/educational-program-background.svg");
  background-size: cover;

  @include for-desktop-up {
    padding: 65px 0 60px;
  }

  @include for-very-large-desktop-up {
    background-size: contain;
    background-repeat: repeat-x;
  }

  .educational-program-text-and-image-container {
    @include for-desktop-up {
      display: grid;
      grid-template-columns: minmax(400px, 680px) minmax(200px, 350px);
      gap: 140px;
    }
  }

  .educational-program-text-container {
    position: relative;
    color: $grey-700;

    @include for-desktop-up {
      padding-left: 60px;
    }

    &:before {
      @extend %icon-before-section;
      background: 0 3px / contain no-repeat url("../../../assets/icons/book.svg");
    }
  }

  .educational-program-text-title {
    padding-left: 45px;
    margin-top: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;

    @include for-desktop-up {
      padding-left: 0px;
    }
  }

  .educational-program-text-description {
    margin-bottom: 30px;

    @include for-desktop-up {
      margin-bottom: 25px;
    }
  }

  .educational-program-text-lectures-string {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 0px;

    @include for-desktop-up {
      margin-bottom: -5px;
    }
  }

  .educational-program-lecture-text-container {
    display: inline-flex;
    position: relative;
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    background: $white;
    border-radius: 6px;
    cursor: pointer;
  }

  .educational-program-lecture-number {
    padding-right: 5px;
  }

  .educational-program-lecture-name {
    padding-right: 40px;
  }

  .fa-chevron-down {
    @extend %center-content-vertical;
    position: absolute;
    right: 20px;
    color: $grey-500;
  }

  .educational-program-image-container {
    display: none;

    @include for-desktop-up {
      align-self: end;
      display: block;
      max-width: 350px;
      max-height: 230px;
    }
  }

  .educational-program-image {
    max-width: 100%;
  }
}
