@import "../../01-settings/settings-colors.scss";
@import "../../01-settings/settings-box-shadows.scss";
@import "../../02-tools/mixins.scss";
@import "../../04-elements/elements-pseudo-elements.scss";

.lectures-and-more-info-container {
  margin-bottom: 172px;
  color: $grey-700;

  @include for-tablet-up {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  a {
    border-bottom: 1px solid $orange-800;
    transition: 0.5s ease border;

    &:hover {
      border-bottom-color: transparent;
    }
  }

  .lectures,
  .more-info {
    position: relative;
    padding-left: 60px;

    &:before {
      @extend %icon-before-section;
      background-size: contain;
      background-repeat: no-repeat;
    }

    @include for-tablet-up {
      &:before {
        width: 30px;
        height: 30px;
      }
    }
  }

  .lectures {
    border-bottom: 10px dotted $orange-100;
    padding-bottom: 30px;

    @include for-tablet-up {
      padding-bottom: 0;
      padding-right: 30px;
      border-bottom: none;
      border-right: 10px dotted $orange-100;
    }
  }

  .lectures-title,
  .more-info-title {
    display: inline-flex;
    font-weight: 600;
    line-height: 36px;
    margin: 0 auto 15px;
  }

  .lectures {
    &:before {
      background-image: url("../../../assets/icons/clock.svg");
    }
  }

  .lectures-description,
  .more-info-description {
    margin-bottom: 0;
  }

  .more-info {
    margin-top: 30px;

    @include for-tablet-up {
      margin-top: 0;
      margin-left: 30px;
    }
  }

  .more-info {
    &:before {
      background-image: url("../../../assets/icons/bulb.svg");
    }
  }
}
