@import "../../01-settings/settings-colors.scss";
@import "../../01-settings/settings-box-shadows.scss";
@import "../../02-tools/mixins.scss";
@import "../../04-elements/elements-pseudo-elements.scss";

.course-suitable-and-skills-container {
  margin-bottom: 65px;
  color: $grey-700;

  @include for-tablet-up {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .course-suitable,
  .course-skills {
    position: relative;

    &:before {
      @extend %icon-before-section;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .course-suitable {
    border-bottom: 10px dotted $orange-100;
    padding-left: 60px;
    padding-bottom: 30px;

    @include for-tablet-up {
      padding-bottom: 0;
      padding-right: 30px;
      border-bottom: none;
      border-right: 10px dotted $orange-100;
    }

    &:before {
      background-image: url("../../../assets/icons/people.svg");
    }
  }

  .course-suitable-title,
  .course-skills-title {
    display: inline-flex;
    font-weight: 600;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 15px;

    @include for-tablet-up {
      display: inline-block;
    }
  }

  .course-suitable-description,
  .course-skills-description {
    margin-bottom: 0;
  }

  .course-skills {
    margin-top: 30px;
    padding-left: 60px;

    @include for-tablet-up {
      margin-top: 0;
      margin-left: 30px;
    }

    &:before {
      background-image: url("../../../assets/icons/bell.svg");
    }
  }
}
