@import "../02-tools/tools-mixins.scss";

.container {
    max-width: 1310px;
    width: 100%;
    margin: 20px auto;
    padding: 0 20px;

    @include for-tablet-up {
        max-width: 1390px;
        margin: 50px auto;
        padding: 0 50px;
    }
}
