@import "../02-tools/mixins.scss";

.container {
    max-width: 1290px;
    width: 100%;
    margin: 20px auto;
    padding: 0 20px;

    @include for-tablet-up {
        margin: 50px auto;
        padding: 0 50px;
    }
}
