@import "../01-settings/settings-colors.scss";

.header {
    display: flex;
    align-items: center;
    min-height: 255px;
    text-align: center;
    color: $white;
    background: $orange-800;

    .header-title {

    }
    
    .header-details {

    }
    
}
