/* Shadow 0dp */
/* Shadow 1dp */
/* Shadow 2dp */
/* Shadow 3dp */
/* Shadow 4dp */
/* Shadow 6dp */
/* Shadow 8dp */
/* Shadow 9dp */
/* Shadow 12dp */
/* Shadow 16dp */
/* Shadow 24dp */
.footer {
  position: relative;
  min-height: 325px;
  background-color: #565656;
  border-top: 12px solid #919191;
}

.footer .footer-image-and-list-container {
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (min-width: 1200px) {
  .footer .footer-image-and-list-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    padding: 0 50px;
  }
}

.footer .footer-image-container {
  display: none;
  max-width: 220px;
  position: absolute;
  bottom: 0;
  -webkit-transition: 1s bottom cubic-bezier(0.175, 1.885, 0.32, 2.275);
  transition: 1s bottom cubic-bezier(0.175, 1.885, 0.32, 2.275);
}

@media only screen and (min-width: 992px) {
  .footer .footer-image-container {
    position: relative;
  }
}

@media only screen and (min-width: 1200px) {
  .footer .footer-image-container {
    display: block;
  }
}

.footer .footer-image-container:hover {
  bottom: 50px;
}

.footer .footer-image {
  position: absolute;
  bottom: 0;
  max-height: 100%;
}

@media only screen and (min-width: 992px) {
  .footer .footer-image {
    max-width: 100%;
    max-height: 150%;
  }
}

.footer .footer-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 32px 23px;
  padding: 50px 0;
}

@media only screen and (min-width: 992px) {
  .footer .footer-list {
    -ms-grid-columns: minmax(255px, 1fr) minmax(145px, 1fr) minmax(140px, 1fr) minmax(180px, 1fr);
        grid-template-columns: minmax(255px, 1fr) minmax(145px, 1fr) minmax(140px, 1fr) minmax(180px, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 80px;
    padding: 45px 0;
  }
}

.footer .footer-list-item a {
  font-weight: normal;
}

.footer .footer-list-item.kids {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.footer .footer-list-item.all-educations {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.footer .footer-list-item.all-initiatives {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.footer .footer-list-item.find-us {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.footer .footer-list-item.find-us .footer-list-item-title {
  display: none;
}

@media only screen and (min-width: 992px) {
  .footer .footer-list-item.kids .footer-inner-list-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  .footer .footer-list-item.all-educations {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer .footer-list-item.all-initiatives {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer .footer-list-item.find-us .footer-list-item-title {
    display: block;
  }
}

.footer .footer-list-item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #FFF;
  padding-bottom: 15px;
}

.footer .footer-inner-list-item {
  padding-bottom: 10px;
}

.footer .footer-inner-list-item a {
  font-size: 16px;
  line-height: 19px;
  color: #E6E6E6;
  -webkit-transition: 0.3s ease color;
  transition: 0.3s ease color;
}

.footer .footer-inner-list-item a:hover {
  color: #41BEAD;
}

.footer .social-media-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (29px)[2];
      grid-template-columns: repeat(2, 29px);
  -ms-grid-rows: 28px;
      grid-template-rows: 28px;
  gap: 30px;
  padding-top: 10px;
}

.footer .social-media-list a {
  font-size: 27px;
}

.footer .social-media-list-mobile {
  display: -ms-grid;
  display: grid;
  padding-top: 32px;
}

@media only screen and (min-width: 992px) {
  .footer .social-media-list-mobile {
    display: none;
  }
}

.footer .social-media-list-desktop {
  display: none;
}

@media only screen and (min-width: 992px) {
  .footer .social-media-list-desktop {
    display: -ms-grid;
    display: grid;
  }
}

.footer .all-rights-reserved {
  position: absolute;
  bottom: 0;
  width: 90%;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 30px;
  margin: 30px auto;
  border-top: 1px solid #696969;
  line-height: 19px;
  color: #919191;
}

@media only screen and (min-width: 992px) {
  .footer .all-rights-reserved {
    position: relative;
    width: 100%;
    padding-top: 50px;
    margin: 0;
    border: none;
    text-align: left;
  }
}
/*# sourceMappingURL=components-footer.css.map */