@import "../../01-settings/settings-colors.scss";
@import "../../01-settings/settings-box-shadows.scss";
@import "../../02-tools/mixins.scss";

.footer {
  position: relative;
  min-height: 325px;
  background-color: $grey-700;
  border-top: 12px solid $grey-500;

  .footer-image-and-list-container {
    position: relative;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;

    @include for-desktop-up {
      display: grid;
      grid-template-columns: 220px 1fr;
      gap: 80px;
      padding: 0 50px;
    }
  }

  .footer-image-container {
    display: none;
    width: 220px;
    position: absolute;
    bottom: 0;
    transition: 1s bottom cubic-bezier(0.175, 1.885, 0.32, 2.275);

    @include for-desktop-up {
      position: relative;
    }

    @include for-large-desktop-up {
      display: block;
    }

    &:hover {
      bottom: 50px;
    }
  }

  .footer-image {
    position: absolute;
    bottom: 0;
    max-height: 100%;

    @include for-desktop-up {
      max-height: 150%;
    }
  }

  .footer-list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 30px 45px;
    padding: 50px 0;

    @include for-desktop-up {
      grid-template-columns: 255px 145px 140px 180px;
      grid-template-rows: 1fr;
      // grid-template-columns: repeat(4, minmax(min-content, 255px));
      gap: 80px;
      padding: 45px 0;
    }
  }

  .footer-list-item {
    a {
      font-weight: normal;
    }

    &.kids {
      order: 1;
    }

    &.all-educations {
      order: 3;
    }

    &.all-initiatives {
      order: 2;
    }

    &.find-us {
      order: 4;
    }

    &.find-us {
      .footer-list-item-title {
        display: none;
      }
    }

    @include for-desktop-up {
      &.kids {
        .footer-inner-list-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 25px;
        }
      }

      &.all-educations {
        order: 2;
      }

      &.all-initiatives {
        order: 3;
      }

      &.find-us {
        .footer-list-item-title {
          display: block;
        }
      }
    }
  }

  .footer-inner-list {
  }

  .footer-list-item-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: $white;
    padding-bottom: 15px;
  }

  .footer-inner-list-item {
    padding-bottom: 10px;

    a {
      font-size: 16px;
      line-height: 19px;
      color: $grey-200;
      transition: 0.3s ease color;

      &:hover {
        color: $green-300;
      }
    }
  }

  .social-media-list {
    display: grid;
    grid-template-columns: repeat(2, 29px);
    grid-template-rows: 28px;
    gap: 30px;
    padding-top: 10px;

    a {
      font-size: 27px;
    }
  }

  .all-rights-reserved {
    position: absolute;
    bottom: 0;
    width: 90%;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 30px;
    margin: 30px auto;
    border-top: 1px solid $grey-600;

    line-height: 19px;
    color: $grey-500;

    @include for-desktop-up {
      position: relative;
      width: 100%;
      padding-top: 50px;
      margin: 0;
      border: none;
      text-align: left;
    }
  }
}
